body{
	background-image: url(https://images.unsplash.com/photo-1617372613924-0daf0b1e492b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-position: center;
}

h1{
	text-align: center;

}

hr{
	padding: 0px;
	margin: 5px;
	widt
}

form{
	box-sizing: border-box;
	text-align: center;
}

.register{
	box-sizing: content-box;
	border: 2px solid skyblue;
	border-radius: 10px;
	background-color: lightcyan;
	width: auto;
	padding: 0px 16px;
	position: relative;
	display: inline-block;
}

.main{
	box-sizing: border-box;
	border: 1px solid green;
	border-radius: 10px;
	width: auto;
	margin: 0px;
	padding: 0px 20px;
	display: inline-block;
	position: relative;
	border-width: 2px;
}

.id2{
	text-align: center;
}

.id3{
	font-family: sans-serif;
	text-overflow: ;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
	font-weight: 600;
}